
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*@Html.ActionLink("LinkIsmi","ActionName")*@ 
        @Html.ActionLink("Login Page","login") @*LoginPage(POST)*@
        @Html.ActionLink("Get Method Page","GetMethod",new { ID=4})
    </div>
</body>
</html>
